@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>
    <p>Det här är Moment 3 i kursen Webbutveckling med .NET</p>
    <p>En webbplats ska skapas med hjälp av Entity FrameWork som en databasdriven
        ASP:NET MVC Core webbplats.
    </p>
    <p>
        Laborationen är uppdelad i två delar, där del 1 är obligatorisk och del 2
        görs för att få pluspoäng. Jag kommer nog inte lyckas skapa det som krävs
        för pluspoängen.
    </p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
