@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>
    <p>Det här är Moment 3 i kursen Webbutveckling med .NET</p>
    <p>Det är en webbplats skapade med Entitiy FramwWork och är en databasdriven ASP.Net MVC Core webbplats</p>
    <p>
        Skivor listar sparade skivor med information om Artist och året den släpptes. På den sidan finns full CRUD
        funktionalitet vilket betyder att du kan spara ny skiva, uppdatera, radera och se listan med alla skivor.
        Det finns även en sökruta längst upp om man vill använda den.
    </p>
    <p>På undersidan Artister finns de olika artisterna listade som finns sparade i databasen. Där kan du lägga till ny
        artist
        om du vill, redigera befintlig eller radera helt. Alla artister som finns listade, kommer också upp som
        alternativ
        när man vill spara en ny skiva.
    </p>
</div>
